{% extends 'Base.html' %}
{% load staticfiles %}
{% block page_js %}
    <script src="{% static 'vendor/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vendor/bower_components/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendor/bower_components/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendor/bower_components/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'vendor/bower_components/flot.curvedlines/curvedLines.js' %}"></script>
    <script src="{% static 'vendor/bower_components/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'demo/js/flot-charts/curved-line.js' %}"></script>
    <script src="{% static 'demo/js/flot-charts/line.js' %}"></script>
    <script src="{% static 'demo/js/flot-charts/bar.js' %}"></script>
    <script src="{% static 'demo/js/flot-charts/dynamic.js' %}"></script>
    <script src="{% static 'demo/js/flot-charts/pie.js' %}"></script>
    <script src="{% static 'demo/js/flot-charts/chart-tooltips.js' %}"></script>
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
{% endblock %}
{% block content%}
<div class="row quick-stats">
    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>LOC</h2>
                <small>Total Leads Recieved</small>
            </div>

            <div class="quick-stats__chart peity-bar" style="padding-left: 30px"><h1>{{ loc }}</h1></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>File Count</h2>
                <small>Total Website Clicks</small>
            </div>

            <div class="quick-stats__chart peity-bar" style="padding-left: 30px"><h1>{{ foc }}</h1></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>Deveploper Count</h2>
                <small></small>
            </div>

            <div class="quick-stats__chart peity-bar" style="padding-left: 30px"><h1>{{ doc }}</h1></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>Commit Count</h2>
                <small>Total Support Tickets</small>
            </div>

            <div class="quick-stats__chart peity-bar" style="padding-left: 30px"><h1>{{ coc }}</h1></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card widget-pie">
                            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                                <div class="easy-pie-chart" data-percent="50" data-size="80" data-track-color="rgba(0,0,0,0.5)" data-bar-color="#fff">
                                    <span class="easy-pie-chart__value">92</span>
                                </div>
                                <div class="widget-pie__title">Email<br> Scheduled</div>
                            </div>

                            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                                <div class="easy-pie-chart" data-percent="11" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                                    <span class="easy-pie-chart__value">11</span>
                                </div>
                                <div class="widget-pie__title">Email<br> Bounced</div>
                            </div>

                            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                                <div class="easy-pie-chart" data-percent="52" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                                    <span class="easy-pie-chart__value">52</span>
                                </div>
                                <div class="widget-pie__title">Email<br> Opened</div>
                            </div>

                            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                                <div class="easy-pie-chart" data-percent="44" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                                    <span class="easy-pie-chart__value">44</span>
                                </div>
                                <div class="widget-pie__title">Storage<br>Remaining</div>
                            </div>

                            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                                <div class="easy-pie-chart" data-percent="78" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                                    <span class="easy-pie-chart__value">78</span>
                                </div>
                                <div class="widget-pie__title">Web Page<br> Views</div>
                            </div>

                            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                                <div class="easy-pie-chart" data-percent="32" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                                    <span class="easy-pie-chart__value">32</span>
                                </div>
                                <div class="widget-pie__title">Server<br> Processing</div>
                            </div>
                        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bar Chart</h4>

                <div class="flot-chart flot-bar"></div>
                <div class="flot-chart-legends flot-chart-legends--bar"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}